{% extends "index.html" %}
{% block content %}
<div style="color:darkgoldenrod">
        <h1> BeatQ is the first ever web application that elevates a party to the next level by 
                making sure everyone can jam out to their favorite song. How does it work? First, 
                have one person become the host and generate a new party session by using Spotify. Next,
                have friends join the session using the party session code. Finally, add your favorite songs
                and enjoy!</h1>
</div>
{% endblock content %}