{% extends "index.html" %}
{% block content %}

<div class="container text-center">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Host Status</th>  
      <th scope="col">Identifier</th>
      <th scope="col">Name</th>
      <th scope="col">Next Song</th>
    </tr>
  </thead>
  <tbody>
    {% for user in seshes[session_id]["users"] %}
    <tr>
            {% if user.is_host %}
            <th scope="row">Host</th>
            {% else %}
            <th scope="row">Not Host</th>
            {% endif %}

            <td>{{user.identifier}}</td>
            <td>{{user.name}}</td>
            {% if user.num_songs() == 0 %}
            <td>None</td>
            {% else %}
            <td>{{user.songs[0]}}</td>
            {% endif %}
    </tr>
    {% endfor %}
    <!--<tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
-->
  </tbody>
</table>
</div>

<form action="{{ url_for('search') }}" method="POST">
        <p>Search for song: </p><input type="text" name="song"><br>
        <input type="submit" value="Submit" class="btn btn-success btn-outline-success btn-lg">
</form>

<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Results
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      {% for i in song_names %}
      <button class="dropdown-item" type="button">{{i}}</button>
      {% endfor %}
    </div>
  </div>

{% if host == True %}
<!--Admin dashboard-->
{% else %}
<!--Joiners-->
{% endif %}



{% endblock content %}