{% extends "index.html" %}
{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<form action="{{ url_for('search') }}" method="POST">
        <p>Search for song: </p><input type="text" name="song"><br>
        <input type="submit" value="Submit" class="btn btn-success btn-outline-success btn-lg">
</form>
{% if song_names %}
{% for i in range(0,10) %}
<button onclick= "location.href='/enqueue?name={{song_names[i]}}&uri={{song_uris[i]}}'" class="dropdown-item btn btn-lg btn-warning" type="button">{{song_names[i]}}</button><br><br>
{% endfor %}
{% endif %}

{% if host == True %}
<!--Admin dashboard-->
{% else %}
<!--Joiners-->
{% endif %}



{% endblock content %}