{% extends "index.html" %}
{% block content %}
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
        <form action = "{{ url_for('spotifyAuth') }}">
            <button type="submit" class="btn btn-success btn-outline-success btn-lg">HOST
            </button>
        </form>
        </a>
    </div>
    <div class="col-sm-3"> 
      <form action = "{{ url_for('join') }}">
        <button type="submit" class="btn btn-warning btn-outline-warning btn-lg">JOIN
        </button>
      </form>          
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
  {% endblock content %}