<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{page_name}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!-- custome styles -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"/>
</head>
<body>
<header>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#" color="darkgoldenrod" >BeatQ</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="{{ url_for('about') }}">How it Works</a></li>
            {% if host == True %}
            <li><a href="#">Settings</a></li>
            {% endif %}
            <!--<li><a href="#">Contact</a></li>-->
        </ul>
        {% if host == True %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> End Session</a></li>
        </ul>
        {% endif %}
        </div>
    </div>
    </nav>
</header>

<div class="jumbotron">
  <div class="container text-center">
      <div style="color:darkgoldenrod">
          <h1>{{page_name}}</h1>
          {% if page_name == "BeatQ - Dashboard" %}
          <h3>Party Code: {{session_id}}</h3>
          {% endif %}  
      </div>    
  </div>
</div>
  
<div class="container-fluid bg-3 text-center">
  {% block content %}{% endblock %}
</div><br><br>

</body>
</html>